# Created by .ignore support plugin (hsz.mobi)
/target/
/.idea/
/project/target/
/project/project/target/
/src/main/resources/stackoverflow/stackoverflow.csv
/src/test/resources/stackoverflow/stackoverflow.csv
